---
layout: default
---

<div class="home">

    <h1 class="page-heading">Topics</h1>

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    {%- if page_paths -%}
      <ul class="post-list">
        <li>
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <h2 style="margin-bottom: 0;">
              <a class="post-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
            </h2>
            {%- endif -%}
          {%- endfor -%}
        </li>
      </ul>
    {%- endif -%}

  <!-- <h1 class="page-heading">Featured Guides</h1>
  <p>Guides that are worth highlighting for being the most feature complete or well written.</p>
  <ul>
  
  {% for page in site.android %}
    {% if page.id == "/android/bottom_navigation" %}
      <li>
        <span style="font-size: 18px;"><a href="{{ page.url }}">{{ page.title }}</a> - </span>
        <span>{{ page.description }}</span>
      </li>
    {% endif %}
  {% endfor %}
  
  </ul> -->

  <!-- <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>
